.imgFgondo {
    position: relative;
  }
  
  .imgFgondo::after{
    background-image: url("/images/imgFondo.jng");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.7;
    z-index: -1;
  }