.texto-inicio{
    font-size: 24px; 
    color: #002855; 
    text-align: center; 
    padding: 80px 50px; 
    background-size: cover; 
    background-position: center;
    font-family: "Arial", sans-serif; 
    font-weight: bold; 
}

